<section class="container-app">
  <section class="toolbar">
    <app-toolbar *ngIf="juego" [title]="title" (inicio)="cambiarEstadoDeInicio($event)" (juego)="cambiarEstadoDeJuego($event)"></app-toolbar>
  </section>
  <section class="inicio" *ngIf="inicio">
    <app-inicio [title]="title" [subtitle]="subtitle" (inicio)="cambiarEstadoDeInicio($event)" (juego)="cambiarEstadoDeJuego($event)"></app-inicio>
  </section>
  <section class="juego" *ngIf="juego">
    <app-tateti [title]="title" [start]="juego"></app-tateti>
  </section>
</section>