.container-app{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgb(245, 7, 7) 0%, rgb(245, 181, 5) 100%);


    .inicio{
        width: 100%;
        height: 100%;

    }
    .juego{
        width: 100%;
        height: 100%;
    }
}
